<div class="section1">
    <div class="boxes" fxLayout="row " fxLayoutGap=20px>

        <div class="sec1" fxLayout="row" >
            <div fxLayoutAlign="start center">
                <img src="assets/maria2.jpg" class="maria2">
            </div>
            <div class="info" fxLayout="column" fxLayoutAlign="center center">
                <h1 class="caption">Maria</h1>
                <h2 class="mail">maria@gmail.com</h2>
                <h3 class="prof">Designer</h3>
            </div>

        </div>
       
        <div class="sec1" fxLayout="row" >
            <div fxLayoutAlign="start center">
                <img src="assets/thomas.jpg" class="maria2">
            </div>
            <div class="info" fxLayout="column" fxLayoutAlign="center center">
                <h1 class="caption1">Thomas Edison</h1>
                <h2 class="mail1">thomas@gmail.com</h2>
                <h3 class="prof">Developer</h3>
            </div>

        </div>
        
        <div class="sec1" fxLayout="row" >
            <div fxLayoutAlign="start center">
                <img src="assets/edward.jpg" class="maria2">
            </div>
            <div class="info" fxLayout="column" fxLayoutAlign="center center">
                <h1 class="caption">Edward</h1>
                <h2 class="mail">edward@gmail.com</h2>
                <h3 class="prof">Tester</h3>
            </div>

        </div>


    </div>
</div>