<div class="section2" fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column">

    <div class="sec2">

        <h1 class="caption">Activity</h1>

        <h1 class="cap">What's people doing right now</h1>
        
        <div class="p2" fxLayout="column">
            <div class="james-info" fxLayout="row" fxLayout.xs="column">
                <img src="assets/face1.jpg" class="james">
                <p class="james-text"><span class="J-name">James </span> posted in Material</p>
            </div>

            <div class="des" fxLayout="row" fxHide.xs>
                <h2 class="description3">That's awesome!</h2>
                <h2 class="description4">2 hours ago</h2>
            </div>
        </div>

        <mat-divider class="divider"></mat-divider>

        
        
        <div class="p2" fxLayout="column">
            <div class="james-info" fxLayout="row" fxLayout.xs="column">
                <img src="assets/maria.jpg" class="james">
                <p class="james-text"><span class="J-name">James </span> posted in Material</p>
            </div>

            <div class="des" fxLayout="row" fxHide.xs>
                <h2 class="description3">That's awesome!</h2>
                <h2 class="description4">2 hours ago</h2>
            </div>
        </div>

        <mat-divider class="divider"></mat-divider>

       
        
        <div class="p2" fxLayout="column">
            <div class="james-info" fxLayout="row" fxLayout.xs="column">
                <img src="assets/peter.jpg" class="james">
                <p class="james-text"><span class="J-name">James </span> posted in Material</p>
            </div>

            <div class="des" fxLayout="row" fxHide.xs>
                <h2 class="description3">That's Great!</h2>
                <h2 class="description4">2 hours ago</h2>
            </div>
        </div>

        <mat-divider class="divider"></mat-divider>

        
        
        <div class="p2" fxLayout="column">
            <div class="james-info" fxLayout="row" fxLayout.xs="column">
                <img src="assets/Nateila.jpg" class="james">
                <p class="james-text"><span class="J-name">James </span> posted in Material</p>
            </div>

            <div class="des" fxLayout="row" fxHide.xs>
                <h2 class="description3">That's awesome!</h2>
                <h2 class="description4">2 hours ago</h2>
            </div>
        </div>

        


    </div>
    <div class="sec2">


        <h1 class="caption">Recomended</h1>

       
        
        <div class="p3" fxLayout="column">
            <div class="james-info" fxLayout="row" fxLayout.xs="column">
                <img src="assets/maria.jpg" class="james">
                <p class="james-text"><span class="J-name">James </span> posted in Material</p>
            </div>

            <div class="des" fxLayout="row" fxHide.xs>
                <h2 class="description3">That's awesome!</h2>
                <h2 class="description4">2 hours ago</h2>
            </div>
        </div>

        <mat-divider class="divider"></mat-divider>

        
        
        <div class="p3" fxLayout="column">
            <div class="james-info" fxLayout="row" fxLayout.xs="column">
                <img src="assets/Nateila.jpg" class="james">
                <p class="james-text"><span class="J-name">James </span> posted in Material</p>
            </div>

            <div class="des" fxLayout="row" fxHide.xs>
                <h2 class="description3">That's awesome!</h2>
                <h2 class="description4">2 hours ago</h2>
            </div>
        </div>

        <mat-divider class="divider"></mat-divider>

       
        
        <div class="p3" fxLayout="column">
            <div class="james-info" fxLayout="row" fxLayout.xs="column">
                <img src="assets/peter.jpg" class="james">
                <p class="james-text"><span class="J-name">James </span> posted in Material</p>
            </div>

            <div class="des" fxLayout="row" fxHide.xs>
                <h2 class="description3">That's awesome!</h2>
                <h2 class="description4">2 hours ago</h2>
            </div>
        </div>

        <mat-divider class="divider"></mat-divider>

        
        
        <div class="p3" fxLayout="column">
            <div class="james-info" fxLayout="row" fxLayout.xs="column">
                <img src="assets/david.jpg" class="james">
                <p class="james-text"><span class="J-name">James </span> posted in Material</p>
            </div>

            <div class="des" fxLayout="row" fxHide.xs>
                <h2 class="description3">That's awesome!</h2>
                <h2 class="description4">2 hours ago</h2>
            </div>
        </div>

        <mat-divider class="divider"></mat-divider>

        <div class="p3" fxLayout="column">
            <div class="james-info" fxLayout="row" fxLayout.xs="column">
                <img src="assets/thomas.jpg" class="james">
                <p class="james-text"><span class="J-name">James </span> posted in Material</p>
            </div>

            <div class="des" fxLayout="row" fxHide.xs>
                <h2 class="description3">That's awesome!</h2>
                <h2 class="description4">2 hours ago</h2>
            </div>
        </div>



    </div>
    <div class="sec2">



        <h1 class="caption">Messages</h1>

        
        
        <div class="p3" fxLayout="column">
            <div class="james-info" fxLayout="row" fxLayout.xs="column">
                <img src="assets/Nateila.jpg" class="james">
                <p class="james-text"><span class="J-name">James </span> posted in Material</p>
            </div>

            <div class="des" fxLayout="row" fxHide.xs>
                <h2 class="description3">That's awesome!</h2>
                <h2 class="description4">2 hours ago</h2>
            </div>
        </div>

        <mat-divider class="divider"></mat-divider>

        
        
        <div class="p3" fxLayout="column">
            <div class="james-info" fxLayout="row" fxLayout.xs="column">
                <img src="assets/david.jpg" class="james">
                <p class="james-text"><span class="J-name">James </span> posted in Material</p>
            </div>

            <div class="des" fxLayout="row" fxHide.xs>
                <h2 class="description3">That's awesome!</h2>
                <h2 class="description4">2 hours ago</h2>
            </div>
        </div>

        <mat-divider class="divider"></mat-divider>

       
        
        <div class="p3" fxLayout="column">
            <div class="james-info" fxLayout="row" fxLayout.xs="column">
                <img src="assets/thomas.jpg" class="james">
                <p class="james-text"><span class="J-name">James </span> posted in Material</p>
            </div>

            <div class="des" fxLayout="row" fxHide.xs>
                <h2 class="description3">That's awesome!</h2>
                <h2 class="description4">2 hours ago</h2>
            </div>
        </div>

        <mat-divider class="divider"></mat-divider>

        
        
        <div class="p3" fxLayout="column">
            <div class="james-info" fxLayout="row" fxLayout.xs="column">
                <img src="assets/aleena.jpg" class="james">
                <p class="james-text"><span class="J-name">James </span> posted in Material</p>
            </div>

            <div class="des" fxLayout="row" fxHide.xs>
                <h2 class="description3">That's awesome!</h2>
                <h2 class="description4">2 hours ago</h2>
            </div>
        </div>

        <mat-divider class="divider"></mat-divider>

        <!-- <div class="p3" fxLayout="column">
            <div class="james-info" fxLayout="row" fxLayout.xs="column">
                <img src="assets/face1.jpg" class="james">
                <p class="james-text"><span class="J-name">James </span> posted in Material</p>
            </div>

            <div class="des" fxLayout="row" fxHide.xs>
                <h2 class="description3">That's awesome!</h2>
                <h2 class="description4">2 hours ago</h2>
            </div>
        </div> -->

       


    </div>
</div>