.footer{
    background-color: #eff3f5;
}
p{
    font-size: 15px;
    margin-left: 130px;
    margin-right: 120px;
    // margin-top: 50px;
    padding-top: 20px;
}
mat-divider{
    // border: 1px solid red;
    width: 1115px;
    margin-left: 120px;
    // border: 1px solid black;
}


@media only screen and (max-width: 599px){
    h1{
        margin-left: 15px;
    }
}