<div class="section1">
    <div class="boxes" fxLayout="row " fxLayoutGap=20px>

        <div class="sec1" fxLayout="row">
            <div fxLayoutAlign="start center">

            </div>
            <div class="info" fxLayout="row" fxLayoutAlign="center center">
                <div>
                    <a href="#" class="fa fa-facebook"></a>
                </div>
                <div fxLayout="column">
                    <h1 class="caption">2.62 Subscribers</h1>
                    <h2 class="mail">You main list growing</h2>
                </div>
            </div>

        </div>

        <div class="sec1" fxLayout="row">
            <div fxLayoutAlign="start center">


            </div>
            <div class="info" fxLayout="row" fxLayoutAlign="center center">
                <div>
                    <i class="fab fa-twitter"></i>
                </div>
                <div fxLayout="column">
                    <h1 class="caption cap1">5k connections</h1>
                    <h2 class="mail1">You main list growing</h2>
                </div>
            </div>

        </div>

        <div class="sec1" fxLayout="row">
            <div fxLayoutAlign="start center">

            </div>
            <div class="info" fxLayout="row" fxLayoutAlign="center center">
                <div>
                    <i class="fab fa-linkedin-in"></i>
                </div>
                <div fxLayout="column">
                    <h1 class="caption cap2">3k followers</h1>
                    <h2 class="mail2">You main list growing</h2>
                </div>
            </div>

        </div>


    </div>
</div>