.section2{
    margin-left: 120px;
}
.sec2{
    width: 360px;
    height: 450px;
    background-color: white;
    border: 1px solid #ddd;
    margin-top: 20px;
    // margin-left: 40px;
}
.maria{
    border-radius: 200px;
    height: 85px;
    width: 85px;
    margin-left: 135px;
    margin-top: 20px;
}
.name{
    margin-left: 105px;
    font-size: 22px;
    // font-weight:;
}
.position{
    font-size: 15px;
    margin-left: 135px;
    margin-top: -20px;
    opacity: 0.5;
}
.paragraph{
    font-size: 15px;
    margin-left: 30px;
    
}
.btn{
    background-color: #464de4;
    border-color: #464de4;
    color: white;
    height: 35px;
    width: 85px;
    margin-left: 130px;
    border-radius: 5px;
    font-size: 15px;
}
.divider{
    width: 300px;
    margin: 20px 0px 0px 20px;
}
.divider1{
    width: 300px;
    margin: -15px 0px 0px 20px;
}
.numbers{
    margin-left: 15px;
    margin-top: 20px;
}
.count1{
    font-size: 15px;
    margin-left: 50px;
}
.caption1{
    font-size: 12px;
    margin-left: 50px;
    margin-top: -20px;
}
.caption2{
    font-size: 17px;
    margin-left: 20px;
    margin-top: 20px;
    // font-weight: 300px bold  ;
    opacity: 0.7;
}
.count2{
    font-size: 40px;
    margin-left: 20px;
    // font-weight: bold 200px;
    margin-top: -15px;
    opacity: 0.7;
}
.line{
    margin-left: 20px;
}
.count3{
    margin-left: 80px;
}
.caption3{
    font-size: 15px;
    margin-left: 70px;
    margin-top: -20px;
    opacity: 0.7;
}
.numbers2{
    margin-left: -10px;
    margin-top: 20px;
}
.count-no{
    margin-left: 90px;
}
.numbers3{
    margin-top: 250px;
}

.caption{
    font-size: 18px;
    font-weight: lighter;
    margin-left: 30px;
    margin-top: 30px;
    font-weight: 500;
}
.a{
    margin-top: -10px;
    font-size: 17px;
    margin-left: 60px;
}
.b{
    font-weight: lighter;
    margin-top: -19px;
    margin-left: 60px;
    font-size: 15px;
}
.c{
    font-weight: lighter;
    margin-top: -19px;
    margin-left: 70px;
    font-size: 12px;
    opacity: 0.7;
}
.searchbar{
    width: 85%;
    height: 34px;
    border: 1px solid #d5dcec;
    // border-bottom-left-radius: 5px;
    // border-top-left-radius: 5px;
    border-radius: 3px;
    margin-left: 25px;
}
.input-bar{
    width: 75%;
}
.search-input{
    width: 95%;
    height: 27px;
    border: none;
    outline: none;
    
}
.add-button{
    width: 25%;
    background-color: #464de4;
    text-align: center;
    color: white;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.add{
    margin-top: 7px;
    font-weight: 500;
}
.example-section{
    margin-top: 28px;
    margin-left: 25px;
}
.example-margin{
    font-weight: lighter;
}
@media only screen and (max-width: 599px){
    .section2{
        margin-left: 10px;
    }
    .sec2{
        width: 97.10%;
    }
}