<div class="section2" fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column">

    <div class="sec2">
        <h1 class="caption">Todo</h1>

        <div class="searchbar" fxLayout="row">

            <div class="input-bar">
                <input class="search-input" type="text" placeholder="What do you need to do today?">

            </div>

            <div class="add-button">
                <p class="add">Add</p>
            </div>

        </div>

        <div>

            <section class="example-section" fxLayout="column" fxLayoutGap="20px">
                <div fxLayout="row" fxLayoutGap="120px">
                    <mat-checkbox class="example-margin">Pick up kids from school</mat-checkbox>
                    <i class="far fa-times-circle"></i>
                </div>
               
                <mat-divider class="divider1"></mat-divider>

                <div  fxLayout="row" fxLayoutGap="122px">
                <mat-checkbox class="example-margin">Prepare for presentation</mat-checkbox>
                <i class="far fa-times-circle"></i>
               </div>
             
                <mat-divider class="divider1"></mat-divider>

                <div  fxLayout="row" fxLayoutGap="167px">
                    <mat-checkbox class="example-margin">Print Statements</mat-checkbox>
                    <i class="far fa-times-circle"></i>
                   </div>
                <mat-divider class="divider1"></mat-divider>

                <div  fxLayout="row" fxLayoutGap="183px">
                <mat-checkbox class="example-margin">Create invoice</mat-checkbox>
                <i class="far fa-times-circle"></i>
               </div>

                <mat-divider class="divider1"></mat-divider>

                 <div  fxLayout="row" fxLayoutGap="210px">
                <mat-checkbox class="example-margin">Call John</mat-checkbox>
                <i class="far fa-times-circle"></i>
               </div>

                <mat-divider class="divider1"></mat-divider>

                 <div  fxLayout="row" fxLayoutGap="155px">
                <mat-checkbox class="example-margin">Meeting with Alisa</mat-checkbox>
                <i class="far fa-times-circle"></i>
               </div>

                <mat-divider class="divider1"></mat-divider>

            </section>

        </div>



    </div>
    <div class="sec2">
        <img src="assets/maria.jpg" class="maria">
        <h1 class="name">Maria Johnson</h1>
        <h2 class="position">Developer</h2>
        <h3 class="paragraph">Lorem ipsum dolor sit amet, consectetuer<br>adipiscing elit.
            Aenean commodo ligula eget dolor.Lorem
        </h3>
        <button class="btn" mat-raised-button color="primary">Follow</button>
        <mat-divider class="divider"></mat-divider>

        <div class="numbers" fxLayout="row" flexLayoutGap=60px>
            <div class="num">
                <h2 class="count1">5896</h2>
                <h1 class="caption1">Post</h1>

            </div>
            <div class="num">
                <h2 class="count1">1596</h2>
                <h1 class="caption1">Followers</h1>
            </div>
            <div class="num">
                <h2 class="count1">7896</h2>
                <h1 class="caption1">Likes</h1>
            </div>

        </div>

    </div>
    <div class="sec2">
        <h1 class="caption">Updates</h1>
        <h2 class="caption a">User confirmation</h2>
        <h3 class="caption b">Donec rutrum congue leo eget malesuada.</h3>
        <h4 class="caption c"> 7 months ago.</h4>

        <h2 class="caption a">Continuous evaluation</h2>
        <h3 class="caption b">Vivamus suscipit tortor eget felis porttitor volutpat.</h3>
        <h4 class="caption c"> 7 months ago.</h4>

        <h2 class="caption a">Promotion</h2>
        <h3 class="caption b">Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</h3>
        <h4 class="caption c"> 7 months ago.</h4>

    </div>
</div>