.section1{
    margin-left: 120px;
    // margin-bottom: 100px;
}
.sec1{
    width: 1122px;
//     // height: 420px;
    background-color: white;
    border: 1px solid #ddd;
    margin-top: 20px;
//     // margin-left: 40px;
    margin-bottom: 50px;
}
.caption{
    font-size: 18px;
    font-weight: lighter;
    margin-left: 30px;
    margin-top: 30px;
    font-weight: 500;
}
.james{
    border-radius: 200px;
    height: 50px;
    width: 50px;
    margin-left: 30px;
}
.james-text{
        margin-left: 40px;
}
.J-name{
    font-weight: 500;
}
.name{
    margin-left: 40px;
    font-size: 15px;
}
.description{
    font-weight: 500;
    font-size: 12px;
    margin-left: 5px;
}
.id{
    font-size: 14px;
    margin-left: 12px;
    font-weight: lighter ;
}

.divider{
    width: 90%;
    margin: 0px 0px 0px 40px;
}
.description2{
    font-weight: lighter;
    font-size: 14px;
    margin-left: 120px;
    margin-top: -30px;
}
.description3{
    font-weight: lighter;
    font-size: 14px;
    margin-left: 120px;
    margin-top: -20px;
    opacity: 0.6;
}
.description4{
    font-weight: lighter;
    font-size: 14px;
    margin-left: 120px;
    margin-top: -20px;
    opacity: 0.6;
}
.p2{
    margin-top: 20px;
}
.btn{
    background-color: #464de4;
    border-color: #464de4;
    color: white;
    height: 35px;
    width: 85px;
    margin-left: 230px;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 30px;
    // margin-top: 40px;
}
.b1{
    margin-left: 110px;
}
.b2{
    margin-left: 160px;
}
.b3{
    margin-left: 195px;
}
@media only screen and (max-width: 599px){
    .section1{
        margin-left: 10px;
    }
    .p2{
        display: flex;
        flex-direction: row;
        // flex-wrap: wrap;
        
    }
    .description2{
        margin-left: 5px;
    }
    // .james-info{
    //     display: flex;
    //     flex-direction: column;
    //     margin-left: 5px;
    //     // flex-wrap: wrap;
    // }
    .sec1{
        width: 98%;
        // height: 520px;
    }
    .name{
        margin-left: 30px;
        margin-top: 30px;
    }
    .id{
        margin-top: -47px;
        margin-left: 90px;
    }
    .description{
        margin-top: -49px;
        margin-left: 150px;
    }
    .description2{
        margin-left: 30px;
        margin-top: -10px;
    }
    .james-text{
        overflow:hidden;
        margin-top: 20px;
        margin-left: 30px;
        word-wrap: normal;
        width: auto;
    }
    .divider{
        width: 80%;
        
    }
}


