<div class="section3" fxLayout="column">

    <div class="sec3 p1" fxLayout="row" >
        <h1 class="tag1">ID</h1>
        <h1 class="tag1">Assignee</h1>
        <h1 class="tag1">Task Details</h1>
        <h1 class="tag1">Payment Method</h1>
        <h1 class="tag1">Payment Status</h1>
        <h1 class="tag1">Amount</h1>
        <h1 class="tag1">Tracking Number</h1>
    </div>

    <div class="sec3" fxLayout="row" >
        <h1 class="tag2">#320</h1>
        <h1 class="tag2">Mark C.Diaz</h1>
        <h1 class="tag2">Support of thteme</h1>
        <h1 class="tag2">Credit card</h1>
        <h1 class="tag2 t1">Approved</h1>
        <h1 class="tag2">$12,245</h1>
        <h1 class="tag2">JPBBN435893458r</h1>
    </div>


    <div class="sec3" fxLayout="row" >
        <h1 class="tag">#321</h1>
        <h1 class="tag">Jose D</h1>
        <h1 class="tag">Verify your email address !</h1>
        <h1 class="tag">Internet banking</h1>
        <h1 class="tag t2">Pending</h1>
        <h1 class="tag">$12,245</h1>
        <h1 class="tag">BDYBN435893325</h1>
    </div>


    <div class="sec3" fxLayout="row" >
        <h1 class="tag">#322</h1>
        <h1 class="tag">Philips T</h1>
        <h1 class="tag">Item support message send</h1>
        <h1 class="tag">Credit card</h1>
        <h1 class="tag t1">Approved</h1>
        <h1 class="tag">$12,245</h1>
        <h1 class="tag">JSNTN435884258</h1>
    </div>


    <div class="sec3" fxLayout="row" >
        <h1 class="tag">#323</h1>
        <h1 class="tag">Luke Pixel</h1>
        <h1 class="tag">New submission on website</h1>
        <h1 class="tag">Cash on delivery</h1>
        <h1 class="tag t3">Rejected</h1>
        <h1 class="tag">$12,245</h1>
        <h1 class="tag">JPABT435893678</h1>
    </div>

</div>
