.section3{
    margin-left: 120px;
    margin-top: 20px;
}
.sec3{
    width: 91.50%;
    height: 65px;
    background-color: white;
    border: 1px solid #ddd;
    // margin-top: 20px;
    // margin-left: 40px;
    
}
.p1{
    background-color: #dfe8fb;
    // font-size: 10px;
}
.tag1{
    font-size: 15px;
    font-weight: bold;
}
.tag{
    font-size: 15px;
    // align-items: center; 
}
.tag2{
    font-size: 15px;
    // align-items: center;  
    // margin-left: -20px;

}

