.section3{
    margin-left: 120px;
    margin-top: 20px;
}
.sec3{
    // width: 91.50%;
    width: 1125px;
    height: 65px;
    background-color: white;
    border: 1px solid #ddd;
    // margin-top: 20px;
    // margin-left: 40px;
    
}
.p1{
    background-color: #dfe8fb;
    // font-size: 10px;
}
.tag1{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    width: 150px;
    margin-top: 18px;
}
.tag{
    font-size: 12px;
    // align-items: center; 
    text-align: center;
    width: 150px;
    margin-top: 18px;
    
}
.tag2{
    font-size: 12px;
    // align-items: center;  
    // margin-left: -20px;
    text-align: center;
    width: 150px;
    margin-top: 18px;

}
.t1{
    background-color: #4CCEAC;
    color: white;
    border-radius: 20px;
    // width: 160px;
    // margin-left: 70px;
}
.t2{
    background-color: #FF6F59;
    color: white;
    border-radius: 20px;
}
.t3{
    background-color: #DB504A;
    color: white;
    border-radius: 20px;
}
@media only screen and (max-width: 599px){
    .section3{
        margin-left: 10px;
        // overflow-x: scroll;
        overflow:scroll;
    }
//     .sec3{
//         overflow-x: auto;
//     }
// }

}