<div class="section1" fxLayout="row" fxLayoutGap="20px">

    <div class="sec1">
       <h1 class="caption">The Current Chart</h1>
       <mat-divider class="divider"></mat-divider>
       <h2 class="caption2">Projects Status</h2>
       <h3 class="count">76,533</h3>
    </div>
    <div class="sec1">
        <h1 class="caption">Updates</h1>
        <h2 class="caption a">User confirmation</h2>
        <h3 class="caption b">Donec rutrum congue leo eget malesuada.</h3>
        <h4 class="caption c"> 7 months ago.</h4>

        <h2 class="caption a">Continuous evaluation</h2>
        <h3 class="caption b">Vivamus suscipit tortor eget felis porttitor volutpat.</h3>
        <h4 class="caption c"> 7 months ago.</h4>

        <h2 class="caption a">Promotion</h2>
        <h3 class="caption b">Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</h3>
        <h4 class="caption c"> 7 months ago.</h4>
        
    </div>
    
</div>