<div class="section2" fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column">

    <div class="sec2">
        <img src="assets/maria.jpg" class="maria">
        <h1 class="name">Maria Johnson</h1>
        <h2 class="position">Developer</h2>
        <h3 class="paragraph">Lorem ipsum dolor sit amet, consectetuer<br>adipiscing elit.
            Aenean commodo ligula eget dolor.Lorem
        </h3>
        <button class="btn" mat-raised-button color="primary">Follow</button>
        <mat-divider class="divider"></mat-divider>

        <div class="numbers" fxLayout="row" flexLayoutGap=60px>
            <div class="num">
                <h2 class="count1">5896</h2>
                <h1 class="caption1">Post</h1>

            </div>

           
            <div class="num">
                <h2 class="count1">1596</h2>
                <h1 class="caption1">Followers</h1>
            </div>
            <div class="num">
                <h2 class="count1">7896</h2>
                <h1 class="caption1">Likes</h1>
            </div>

        </div>

    </div>
    <div class="sec2">
        <div class="Part1">
            <h1 class="caption2">Top Products</h1>
            <h2 class="count2">598,486</h2>
            <h3 class="line">6.5% change from today</h3>
        </div>
        <mat-divider class="divider"></mat-divider>

        <div class="Part2">
            <h1 class="caption2">Support Cases</h1>
            <h2 class="count2">323,360</h2>
            <h3 class="line">2.5% change from yesterday</h3>
        </div>

    </div>
    <div class="sec2">

        <div class="numbers2" fxLayout="row" flexLayoutGap=60px>
            <div class="num">
                <h2 class="count3">6,256</h2>
                <h1 class="caption3">Total sales</h1>

            </div>
            <div class="num">
                <h2 class="count3 count-no">8569</h2>
                <h1 class="caption3">Open Campaign</h1>
            </div>
        </div>

        <div class="numbers3" fxLayout="row" flexLayoutGap=60px>
            <div class="num">
                <h2 class="count3">5136</h2>
                <h1 class="caption3">Online Sales</h1>
            </div>
          

            <div class="num">
                <h2 class="count3 count-no">4596</h2>
                <h1 class="caption3">Store Sales</h1>
            </div>


        </div>

        <!-- <div>
            <app-bar-chart></app-bar-chart>
        </div> -->
    </div>
</div>
