.section1{
    margin-left: 120px;
}
.sec1{
    width: 280px;
    height: 150px;
    background-color: white;
    border: 1px solid #ddd;
    margin-top: 20px;
    // margin-left: 40px;
}
.caption{
    font-size: 15px;
    font-weight: lighter;
    // margin-left: 120px;
    // margin-top: 40px;
    margin-bottom: 0;
}
.count{
    // margin-top: -20px;
    // margin-left: 110px;
    font-size: 30px;
    
}
.fa-check-circle{
    color: #464de4 ;
    margin-left: -60px;
    font-size: 40px;
}
.fa-trophy{
    color: #464de4 ;
    margin-left: -60px;
    font-size: 40px;
}
.fa-crosshairs{
    
        color: #464de4 ;
        margin-left: -60px;
        font-size: 40px;
}
@media only screen and (max-width: 599px){
    .section1{
        margin-left: 10px;
    }
    .boxes{
        display: flex;
        flex-wrap: wrap;

    }
    .sec1{
        width: 170px;
    }
    
}