<div class="section1" >
    <div class="boxes" fxLayout="row " >

        <div class="sec1"  fxLayout="column" fxLayoutAlign="center center">
            <h1 class="caption">New Users</h1>
            <h2 class="count">65,650</h2>
        </div>
        <div class="sec1" fxLayout="column" fxLayoutAlign="center center">

            <h1 class="caption">New Feedbacks</h1>
            <h2 class="count">32,604</h2>
        </div>

        <div class="sec1" fxLayout="column" fxLayoutAlign="center center">
            <h1 class="caption">Employees</h1>
            <h2 class="count">17,583</h2>
        </div>
        <div class="sec1" fxLayout="column" fxLayoutAlign="center center">
            <h1 class="caption">Total Sales</h1>
            <h2 class="count">61,119</h2>
        </div>

    </div>
</div>