<div class="section1" >
    <div class="boxes" fxLayout="row " fxLayoutGap="20px" fxLayout.xs="column" >

        <div class="sec1"  fxLayout="column" fxLayoutAlign="center start">
            <h1 class="caption">Statistics</h1>
            <h2 class="count">$10,200</h2><span class="time">Updated: 9:10am</span>
            <span class="c2">Raised from 89 orders.</span>
        </div>
        <div class="sec1"  fxLayout="column" fxLayoutAlign="center start">
            <h1 class="caption">Daily Order</h1>
            <h2 class="count">$2256</h2><span class="time">Updated: 05:42pm</span>
            <span class="c2">hey, let’s have lunch together</span>
        </div>

    </div>
</div>